/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #F1F1F1;
  font: 13.34px 'Arvo', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

abbr {
  border-bottom: 1px dashed #000;
  cursor: help;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #E64F3F; text-decoration: none; }
a:hover   { color: #000; border-bottom: 1px solid #E64F3F; }
a:visited { color: #F36051; }
a:visited:hover { border-bottom: 1px solid #F36051 !important; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.header a {
  border: none;
}

.root {
  margin-top: 255px;
}

body a.ag {
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: #969595;
  border: none;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  transition: color 1s;
}

body a.ag:hover {
  color: #575555;
}

.root h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 10em;
  cursor: pointer;
  margin-bottom: 5px;
  display: inline-block;
}

.root h1 em {
  font-style: normal;
  display: inline-block;
  width: 95px;
  overflow: hidden;
  position: relative;
  top: 33px;
  font-size: 100%;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.root h1:hover em {
  width: 440px;
}

.root ul {

}

.root ul li {
  display: inline-block;
  margin-left: 10px;
}

.root ul a {
  text-decoration: none;
  color: #A5A5A5;
  font-family: "Helvetica";
  font-size: 20px;
  border: none;
}

.root ul a:hover {
  color: #686464;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.site ul {
  margin-left: 30px;
  list-style-type: square;
  list-style-type: binary;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.highlight pre {
  border: 1px solid #000;
  background-color: #474646;
  color: #FFF;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 21px 2px rgba(50, 50, 50, 0.52);
  -moz-box-shadow:    inset 0px 0px 21px 2px rgba(50, 50, 50, 0.52);
  box-shadow:         inset 0px 0px 21px 2px rgba(50, 50, 50, 0.52);
}

.highlight code {
  background-color: #474646;
  font-family: Monaco;
}

