<!--


IIIIIIIIII
I::::::::I
I::::::::I
II::::::II
  I::::I           ssssssssss       eeeeeeeeeeee        eeeeeeeeeeee         yyyyyyy           yyyyyyy ooooooooooo   uuuuuu    uuuuuu
  I::::I         ss::::::::::s    ee::::::::::::ee    ee::::::::::::ee        y:::::y         y:::::yoo:::::::::::oo u::::u    u::::u
  I::::I       ss:::::::::::::s  e::::::eeeee:::::ee e::::::eeeee:::::ee       y:::::y       y:::::yo:::::::::::::::ou::::u    u::::u
  I::::I       s::::::ssss:::::se::::::e     e:::::ee::::::e     e:::::e        y:::::y     y:::::y o:::::ooooo:::::ou::::u    u::::u
  I::::I        s:::::s  ssssss e:::::::eeeee::::::ee:::::::eeeee::::::e         y:::::y   y:::::y  o::::o     o::::ou::::u    u::::u
  I::::I          s::::::s      e:::::::::::::::::e e:::::::::::::::::e           y:::::y y:::::y   o::::o     o::::ou::::u    u::::u
  I::::I             s::::::s   e::::::eeeeeeeeeee  e::::::eeeeeeeeeee             y:::::y:::::y    o::::o     o::::ou::::u    u::::u
  I::::I       ssssss   s:::::s e:::::::e           e:::::::e                       y:::::::::y     o::::o     o::::ou:::::uuuu:::::u
II::::::II     s:::::ssss::::::se::::::::e          e::::::::e                       y:::::::y      o:::::ooooo:::::ou:::::::::::::::uu
I::::::::I     s::::::::::::::s  e::::::::eeeeeeee   e::::::::eeeeeeee                y:::::y       o:::::::::::::::o u:::::::::::::::u ......
I::::::::I      s:::::::::::ss    ee:::::::::::::e    ee:::::::::::::e               y:::::y         oo:::::::::::oo   uu::::::::uu:::u .::::.
IIIIIIIIII       sssssssssss        eeeeeeeeeeeeee      eeeeeeeeeeeeee              y:::::y            ooooooooooo       uuuuuuuu  uuuu ......
                                                                                   y:::::y
                                                                                  y:::::y
                                                                                 y:::::y
                                                                                y:::::y
                                                                               yyyyyyy

We can talk more about technical stuff at andrei.glingeanu@gmail.com,
any other ways to contact me at /about.

- cheers

-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Custom JS -->
        <script src="/js/index.js"></script>
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-69840935-1', 'auto');
          ga('send', 'pageview');
        
        </script>

    </head>
    <body>
        <div class="root">
            {{ content }}
        </div>
    </body>
</html>
